protobuf
transformers==4.47.0
cpm_kernels
torch>=2.0
gradio~=5.8.0
mdtex2html~=1.3.0
sentencepiece
accelerate
sse-starlette
streamlit>=1.24.0
uvicorn~=0.32.1
fastapi~=0.115.6
numpy~=2.2.0
tqdm~=4.67.1
pydantic~=2.10.3